@charset "UTF-8";

/* 탭추가 */
#box {
  margin: 0 auto;
  margin-top: 50px;
  width: 95%;
  height: 600px;
  border: 0px solid #000;
  position: relative;
}
#box > input {
  display: none;
}
label {
  display: block;
  width: 130px;
  height: 50px;
  background-color: #fff;
  font-size: 15px;
  color: #000;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
label:hover {
  background-color: #d6e6f2;
  color: #000;
  transition: 0.5s;
}
label.on {
  background-color: #d6e6f2;
  color: #000;
  transition: 0.5s;
}

#box > section {
  width: 94.5%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 100px;
  display: none;
}
table {
  border-color: #769fcd;
}
.table_head {
  color: #555;
}
#con1 {
  z-index: 400;
}
#con2 {
  z-index: 300;
}
#con3 {
  z-index: 200;
}
#con4 {
  z-index: 100;
}

#box #tab1:checked ~ #con1,
#box #tab2:checked ~ #con2,
#box #tab3:checked ~ #con3,
#box #tab4:checked ~ #con4 {
  display: block;
}
table {
  margin-left: 2%;
  text-align: center;
}
