@charset "UTF-8";

#wrap {
  width: 100vw;
  position: relative;
}



#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 12vw;
  height: 100vh;
  border-right: 0.3rem solid #769fcd;
  box-sizing: border-box;
  z-index: 9999;
  background-color: #fff;
}
#nav .nav_top {
  width: 12vw;
  height: 12vh;
  border-bottom: 3px solid #769fcd;
  box-sizing: border-box;
}

.logo {
  float: left;
  width: 3.7vw;
  height:11vh;
  padding: 1.6vh 0 0 0.2vw;
  box-sizing: border-box;
}

.pofile_user{
  float: left;
  width: 8vw;
}
.profile span {
  float: left;
  margin: 3vh 0 0.3vh 0.6vw;
  font-size: 1.5rem;
  color:#777;
}
.profile a{
  font-size: 1.1rem;
  text-decoration: underline;
  text-underline-position: under;
  margin-left: 0.6vw;
}
.mypage_btn{
	color: #769fcd;
}
.logout_btn{
	color: #e98a72;
}


#nav .nav_bottom {
  width: 11.8vw;
  height: 87vh;
}
#nav .nav_list > li >a {
  width: 100%;
  height: 5vh;
  text-align: center;
  line-height: 5vh;
  border-bottom: 2px solid #769fcd;
  box-sizing: border-box;
  color: #444;
  font-weight: normal;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
  font-family: 'NotoSerifKR';
}
#nav .nav_list > li > a.on {
  color: #fff;
  background-color: #b9d7ea;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.5rem;
  display: block;
  border-bottom: 2px solid #769fcd;
}

#nav .nav_list > li:hover {
  background-color: #b9d7ea;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.5rem;
  display: block;
}

#nav .nav_list > li:first-child {
  background-color: #769fcd;
  border: none;
  cursor: auto;
}
#nav .nav_list > li:first-child > a {
  color: #fff;
  font-size: 1.7em;
}

#topBar {
  float: right;
  width: 88%;
  height: 12vh;
  border-bottom: 3px solid #769fcd;
  box-sizing: border-box;
  background-color: #fff;
  line-height: 100px;
}

#topBar > span {
  font-size: 2em;
  margin: 2% 0 0 13%;
  font-weight: 700;
}