#wrap {ㅁ
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: #d6e6f2;
  border-radius: 10px;
  text-align: center;
}
#login_box h3 {
  font-family: "Segoe UI";
  font-size: 50px;
  margin: 30px 0;
}
#login_box div {
  width: 400px;
  height: 50px;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

#login_box div i {
  margin-left: 10px;
  font-size: 25px;
}
#login_box div input {
  width: 350px;
  height: 50px;
  margin-left: 20px;
  padding: 0;
  border: 0;
}
#login_box div input:focus {
  outline: none;
}
#login_box div:focus-within {
  outline: 2px solid #769fcd;
  border-radius: 3px;
}
#login_btn {
  width: 400px;
  height: 50px;
  margin: 15px 0;
  padding: 0;
  border: 0;
  border-radius: 10px;
  background-color: #769fcd;
}
